VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_USE_MOCK_DATA=false
VITE_CREATE_APPROVED_USER_WEBHOOK=
VITE_DELETE_AGENCY_ACCOUNT_WEBHOOK=
VITE_DELETE_ACCESS_REQUEST_WEBHOOK=
VITE_APPROVE_ACCESS_REQUEST_WEBHOOK=
VITE_GENERATE_ACTIVATION_LINK_WEBHOOK=
VITE_ACCESS_REQUEST_EMAIL_WEBHOOK=
